<configuration debug="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT"/>
	</root>
<!--	<logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener" level="DEBUG" />-->
	<logger name="org.springframework" level="TRACE" />
<!--	<logger name="org.springframework.boot" level="TRACE" />-->
<!--	<logger name="org.springframework.boot.autoconfigure" level="DEBUG" />-->
</configuration>