version: 2
updates:
  - package-ecosystem: gradle
    directory: "/"
    target-branch: "main"
    schedule:
      interval: daily
    milestone: 27
    labels:
      - dependencies

  - package-ecosystem: gradle
    directory: "/"
    target-branch: "1.5.x"
    schedule:
      interval: daily
    milestone: 25
    labels:
      - dependencies
    ignore:
      - dependency-name: "boot-spring-boot-dependencies"
        versions: [ "2.7.x" ]
      - dependency-name: "spring-cloud-starter-open-service-broker"
        versions: [ "3.6.x" ]

  - package-ecosystem: gradle
    directory: "/"
    target-branch: "1.4.x"
    schedule:
      interval: daily
    milestone: 14
    labels:
      - dependencies
    ignore:
      - dependency-name: "boot-spring-boot-dependencies"
        versions: [ "2.6.x", "2.7.x" ]
      - dependency-name: "spring-cloud-starter-open-service-broker"
        versions: [ "3.5.x", "3.6.x" ]
