.DS_Store
*.iml
*.ipr
*.iws
*.sw?
.classpath
.project
.settings
.gradle
build
target
bin
.idea
out
.envrc*
envrc-local.txt
bbl-state.json
director-vars-store.yml
jumpbox-vars-store.yml
director-vars-file.yml
bbl-env.sh
bbl-env-creds.sh
bosh-env-*/
*key.json